element.style {
}
.LS81yb {
    outline: 0;
}
.VICjCf {
    margin-left: auto;
    margin-right: auto;
}
@media only screen and (min-width: 768px)
.LS81yb {
    padding-left: 48px;
    padding-right: 48px;
}
.LS81yb {
    padding-left: 5px;
    padding-right: 5px;
}
.LS81yb, .oKdM2c {
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
    max-width: 1280px;
    *zoom: 1;
}
.fktJzd *, .fktJzd *:before, .fktJzd *:after {
    -webkit-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
user agent stylesheet
div {
    display: block;
}
html {
    font-size: 16px;
}
html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
.fktJzd *, .fktJzd *:before, .fktJzd *:after {
    -webkit-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.fktJzd *, .fktJzd *:before, .fktJzd *:after {
    -webkit-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
::-webkit-scrollbar {
    -webkit-border-radius: 100px;
    background-color: rgba(0,0,0,0);
    width: 9px;
}
::-webkit-scrollbar {
    height: 16px;
    overflow: visible;
}
::-webkit-scrollbar-button {
    height: 0;
    width: 0;
}
::-webkit-scrollbar-corner {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    border: 1px solid rgba(255,255,255,0.4);
}
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 100px;
    background: rgba(0,0,0,0.2);
}
::-webkit-scrollbar-thumb {
    border: solid transparent;
    border-width: 1px 1px 1px 6px;
    min-height: 28px;
    padding: 100px 0 0;
    -webkit-box-shadow: inset 1px 1px 0 rgb(0 0 0 / 10%), inset 0 -1px 0 rgb(0 0 0 / 7%);
    box-shadow: inset 1px 1px 0 rgb(0 0 0 / 10%), inset 0 -1px 0 rgb(0 0 0 / 7%);
}
::-webkit-scrollbar-track {
    background-clip: padding-box;
    border: solid transparent;
    border-width: 0 0 0 4px;
}
